<footer class="footer">
  <div class="policy">
    <div class="flex">
      <div class="item">
        <div class="img">
          <img src="./../../../../assets/images/footer/policy_1.webp" alt="" />
        </div>
        <a href="" class="text">
          {{'footer.policy.item_1.title' | translate}}
          <b>{{'footer.policy.item_1.subtitle' | translate}}</b>
        </a>
      </div>
    </div>
    <div class="flex">
      <div class="item">
        <div class="img">
          <img src="./../../../../assets/images/footer/policy_2.webp" alt="" />
        </div>
        <a href="" class="text">
          {{'footer.policy.item_2.title' | translate}}
          <b>{{'footer.policy.item_2.subtitle' | translate}}</b>
        </a>
      </div>
    </div>
    <div class="flex">
      <div class="item">
        <div class="img">
          <img src="./../../../../assets/images/footer/policy_3.webp" alt="" />
        </div>
        <a href="" class="text">
          {{'footer.policy.item_3.title' | translate}}
          <b>{{'footer.policy.item_3.subtitle' | translate}}</b>
        </a>
      </div>
    </div>
    <div class="flex">
      <div class="item">
        <div class="img">
          <img src="./../../../../assets/images/footer/policy_4.webp" alt="" />
        </div>
        <a href="" class="text">
          {{'footer.policy.item_4.title' | translate}}
          <b>{{'footer.policy.item_4.subtitle' | translate}}</b>
        </a>
      </div>
    </div>
  </div>
  <div class="bottom">
    <div class="item_1">
      <div>
        <img src="./../../../../assets/images/logo/ITE_full.png" alt="" />
      </div>
      <p class="loca text">
        {{'footer.location' | translate}}
      </p>
      <a class="tel text">1900 6750</a>
      <a class="mail text">info@ite.com.vn</a>
    </div>
    <div class="item item_2">
      <div class="title">{{ 'footer.information.name' | translate}}</div>
      <ul>
        <li><a href="">{{ 'footer.information.sub.item_1' | translate}}y</a></li>
        <li><a href="">{{ 'footer.information.sub.item_2' | translate}}</a></li>
        <li><a href="">{{ 'footer.information.sub.item_3' | translate}}</a></li>
        <li><a href="">{{ 'footer.information.sub.item_4' | translate}}</a></li>
      </ul>
    </div>
    <div class="item item_3">
      <div class="title">{{ 'footer.client.name' | translate}}</div>
      <ul>
        <li><a href="">{{ 'footer.client.sub.item_1' | translate}}</a></li>
        <li><a href="">{{ 'footer.client.sub.item_2' | translate}}</a></li>
        <li><a href="">{{ 'footer.client.sub.item_3' | translate}}</a></li>
        <li><a href="">{{ 'footer.client.sub.item_4' | translate}}</a></li>
        <li><a href="">{{ 'footer.client.sub.item_5' | translate}}</a></li>
      </ul>
    </div>
    <div class="item item_4">
      <div class="title">{{ 'footer.instruct.name' | translate}}</div>
      <ul>
        <li><a href="">{{ 'footer.instruct.sub.item_1' | translate}}</a></li>
        <li><a href="">{{ 'footer.instruct.sub.item_2' | translate}}</a></li>
        <li><a href="">{{ 'footer.instruct.sub.item_3' | translate}}</a></li>
        <li><a href="">{{ 'footer.instruct.sub.item_4' | translate}}</a></li>
        <li><a href="">{{ 'footer.instruct.sub.item_5' | translate}}</a></li>
      </ul>
    </div>
    <div class="item item_5">
      <div class="title">{{ 'footer.accept_payment.name' | translate}}</div>
      <div class="payment">
        <img src="./../../../../assets/images/footer/payment_1.webp" alt="">
        <img src="./../../../../assets/images/footer/payment_2.webp" alt="">
        <img src="./../../../../assets/images/footer/payment_3.webp" alt="">
        <img src="./../../../../assets/images/footer/payment_4.webp" alt="">
      </div>
      <div class="title">{{ 'footer.follow_us.name' | translate}}</div>
      <div class="">
        <a href="">
          <img src="./../../../../assets/images/footer/facebook.svg" alt="">
          <img src="./../../../../assets/images/footer/youtube.svg" alt="">
          <img src="./../../../../assets/images/footer/instagram.svg" alt="">
        </a>
      </div>
    </div>
  </div>
</footer>
