<link href="https://fonts.googleapis.com/css?family=Be+Vietnam&display=swap" rel="stylesheet">
<div class="body">
  <div class="container">
    <div class="forgot-content  mt-4">
      <div class="image-logo">
        <img src="assets/images/fg.png" alt="image here">
      </div>
      <div class="description-forgot  mt-2">
        <div class="title mb-30">
          <h2><b>{{'forgotpassword'| translate}}</b></h2>
          <p>{{'resethere'| translate}}</p>
        </div>
        <div class="input-forgot mb-30">
          <form [formGroup]="resetForm" role="form" autocomplete="off" class="form" method="post">
            <div class="mt-10 custom-div">
              <input #email formControlName="email" name="email" placeholder="{{'emailaddress'| translate }}"
                type="email">
              <mat-error #error *ngIf="submitted">
                {{ errorForm }}
              </mat-error>
            </div>
            <div class="mt-10">
              <input name="recover-submit" value="{{'resetpassword'| translate}}" (click)="resetPasswords(email.value)"
                type="submit">
            </div>
          </form>
        </div>
      </div>
    </div>

  </div>
  <!--/container-->
</div>
