@import "./ultilities/_variable.scss";
@import "./ultilities/_variable.color.scss";

$bg-blue: #1d1d7d;
$bg-green: green;
$border: 1px solid #ccc;

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.example-button-row button,
.example-button-row a {
  margin-right: 8px;
}

button:not(.btn-upload):focus,
.form-control:focus {
  outline: none;
  box-shadow: none;
}

.ct-dialog {
  position: relative;

  .dialog-content {
    max-height: 65vh;
    overflow-y: auto;
    overflow-x: hidden;
  }

  button {
    min-width: 100px;
  }

  button:disabled {
    cursor: no-drop;
  }

  .btn-close {
    position: absolute;
    right: -15px;
    top: -10px;
    font-size: 24px;
    cursor: pointer;
  }

  .mat-card-content {
    margin-bottom: 0;
  }
}

// active or approval dialog
.question-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 12px 10px;

  .icon {
    margin-right: 8px;

    .material-icons {
      font-size: 32px;
    }
  }

  .question {
    text-align: center;
    word-break: break-word;
    word-wrap: break-word;
    max-width: 90%;
  }
}

.ct-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .logo-container {
    margin-bottom: 10px;
  }

  .common-info {
    display: flex;
    flex-direction: column;

    .name {
      margin-right: 10px;
      font-weight: 500;
      font-size: 16px;
      word-break: break-all;
    }

    .name-container {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
    }
  }

  .created-date {
    margin-top: 7px;
  }
}

button.button-add,
button.button-plus,
button.button-search,
button.button-export,
button.btn-edit {
  background-color: $main-color;
  color: #fff;
  min-width: 105px;
  height: 36px;
  padding: 0 5px;

  &:focus {
    outline: none;
    box-shadow: none;
  }
}

.common-management {
  .button-add {
    margin-right: 10px;
  }

  .management-table {
    margin-bottom: 0 !important;

    thead th {
      vertical-align: top;
      border: 1px solid #dee2e6;
      background: #f7f7f7;
    }

    tbody td {
      word-break: break-word;
      border: 1px solid #dee2e6;

      p:first-child {
        word-break: break-all;
        border-bottom: 1px solid #dee2e6;
        margin-bottom: 0;
        padding: 0 12px 12px 12px;
      }

      p:nth-child(2) {
        word-break: break-all;
        border-bottom: 1px solid #dee2e6;
        margin-bottom: 0;
        padding: 12px;
      }

      p:last-child {
        margin-bottom: 0;
        padding: 12px 12px 0 12px;
      }
    }

    tfoot td {
      font-weight: bold;
      word-break: break-word;
      -ms-word-break: break-all;
      border: 1px solid #dee2e6;
    }

    th,
    td {
      padding: 12px 8px !important;
    }

    .col-no {
      min-width: 50px;
      width: 50px;
    }

    .col-name {
      min-width: 150px;
    }

    .col-date {
      min-width: 115px;
      width: 115px;
    }

    .col-status {
      min-width: 140px;
      width: 140px;
      text-align: center;
    }

    .col-action {
      min-width: 80px;
      width: 80px;
    }

    td.col-action {
      padding-top: 5px;
    }

    .btn-view .material-icons {
      font-size: 28px;
    }
  }

  .top-button {
    justify-content: flex-end;
  }

  .search-form {
    form {
      display: flex;
      align-items: center;
      flex-wrap: wrap;

      .form-control {
        margin-right: 10px;
        font-size: 14px;
        width: 18%;
        min-width: 165px;
        margin-bottom: 7px;
      }

      .form-control:focus {
        box-shadow: none;
      }

      .button-search {
        margin-bottom: 4px;
      }

      .select-container {
        display: flex;
        flex-wrap: wrap;
      }

      .select-control {
        padding-left: 9px;
      }

      .button-container {
        display: flex;
        justify-content: flex-end;
      }
    }
  }

  .search-form form .form-control.ct-datepicker {
    padding: 0 14px;
  }

  .btn-view {
    &.mat-mini-fab {
      width: 32px;
      height: 32px;
      line-height: 32px;
    }

    .material-icons {
      font-size: 18px;
      color: initial;
    }

    &.button-active:hover {
      background-color: $main-color !important;

      .material-icons {
        color: #fff;
      }
    }
  }

  .form-control {
    height: 35px;
    font-size: 14px;
  }
}

.item-status {
  border-radius: 4px;
  padding: 0 10px;
  display: inline-block;
  width: 150px;
  text-align: center;
  color: #fff;
  font-size: 12px;
  font-weight: 400;
  word-break: break-word;

  &.bg-success {
    background-color: #28a745;
  }

  &.bg-secondary {
    background-color: #6c757d;
  }

  &.bg-warning {
    background-color: #ffc107;
    color: inherit;
  }

  &.bg-danger {
    background-color: #dc3545;
  }

  &.bg-info {
    background-color: #17a2b8;
  }

  &.bg-primary {
    background-color: #007bff;
  }
  &.bg-dark {
    background-color: #35383b;
  }
}

.ct-link {
  color: rgb(0, 0, 238);
  text-decoration: underline;

  &:hover {
    cursor: pointer;
    text-decoration: none;
  }
}

.risk-management {
  .management-table.table {
    tr {
      cursor: auto !important;
    }

    .col-method {
      min-width: 150px;
      width: 150px;
    }
  }
}

.page-title {
  display: inline-block;
}

.mat-expansion-panel-header {
  &:hover {
    cursor: pointer;
  }
}

.risk-dialog {
  .title {
    padding: 0 15px;
  }

  .mat-error {
    font-size: 10.5px;
    padding-top: 5px;
  }

  .mat-select-disabled,
  .mat-select-disabled:focus {
    background-color: #e9ecef !important;
  }

  .mat-radio-button {
    width: 20px;
    height: 20px;
    margin-right: 7px;
  }

  .common-button .material-icons {
    margin-right: 0;
  }

  position: initial !important;

  .mat-title-dialog {
    position: relative;
  }

  .dialog-content.opened-date {
    overflow-y: hidden;
  }
}

@media only screen and (min-width: 992px) {
  .common-management .search-form form .form-control {
    width: calc(25% - 10.5px);
    min-width: 0;

    &.item-4,
    &.item-8 {
      margin-right: 0;
    }
  }
}

@media only screen and (max-width: 991px) {
  .common-management .search-form form .form-control {
    width: calc(50% - 10px);

    &.item-2,
    &.item-4,
    &.item-6,
    &.item-8 {
      margin-right: 0;
    }
  }

  .user-management .search-form form .form-control.group {
    width: calc(33.33333% - 7px) !important;
    min-width: 0;

    &.group-3 {
      margin-right: 0;
    }
  }
}

@media only screen and (max-width: 767px) {
  .common-management {
    .page-title {
      margin-bottom: 15px;
      padding-left: 0;
      font-size: 16px;
    }

    .search-form form {
      .button-container {
        padding-left: 0;
        justify-content: flex-end;
      }

      .form-control,
      .form-control.group {
        margin-right: 0;
        width: 100% !important;
      }
    }

    .top-button {
      justify-content: flex-end;
    }
  }

  .risk-management {
    .title {
      margin-bottom: 15px;
    }
  }
}

.ct-textarea.mat-input-element {
  overflow: hidden;
  padding: 0;
  margin: 0;
  word-break: break-all;
  line-height: 19px;
}

.pointer {
  cursor: pointer;
}

.table-bordered thead td,
.table-bordered thead th {
  border-bottom-width: 1px !important;
}

.form-control.input-upload {
  border-radius: 0.25rem 0 0 0.25rem !important;
  cursor: auto;
}

.form-control.input-upload[readonly] {
  background-color: #fff;
}

.ct-checkbox.mat-checkbox-disabled .mat-checkbox-label {
  color: rgba(0, 0, 0, 0.87);
}

.ct-checkbox-value {
  word-break: break-all;
}

.dialog-title {
  text-align: center;
  padding: 0 20px;
  word-break: break-all;
}

.custom-file-input:focus ~ .custom-file-label {
  box-shadow: none;
}

.server-error {
  font-size: 10.5px;
  padding: 5px 0;
  color: #f44336;
}

.ct-expansion .ct-expansion-content {
  border-top: 1px solid rgba(0, 0, 0, 0.12);
  padding-top: 20px;
}

// history
.history-container {
  .content {
    max-height: 500px;
    overflow: auto;
    padding: 0 5px;
    margin-top: 15px;
  }

  .history {
    padding-left: 20px;
    padding-bottom: 15px;
    border-left: $border;
    position: relative;

    &:last-child {
      padding-bottom: 0;
    }
  }

  .dot {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    position: absolute;
    left: -4px;
    top: 9px;
  }

  .action-time {
    padding: 3px 10px;
    color: #fff;
    position: relative;

    &::before {
      content: "";
      width: 0;
      height: 0;
      border-top: 5px solid transparent;
      border-bottom: 5px solid transparent;
      position: absolute;
      left: -10px;
      top: 8px;
    }

    &.bg-even::before {
      border-right: 10px solid $bg-blue;
    }

    &.bg-odd::before {
      border-right: 10px solid $bg-green;
    }
  }

  .bg-odd {
    background-color: $bg-green;
  }

  .bg-even {
    background-color: $bg-blue;
  }

  .bg-normal {
    background-color: grey;
  }

  .action-name {
    padding: 10px;
    border: $border;
    border-top: none;
    word-break: break-word;
    -ms-word-break: break-all;
  }

  .see-more {
    padding-left: 20px;
  }
}

.input-group-append {
  height: 35px;

  .input-group-text {
    font-size: 14px;
  }
}

.ct-mat-error {
  font-size: 75%;
  margin-top: -14px;
}

.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
